/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,600,800);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font: 200 1em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FFFFFF;
  color: #000000; }

h1, h2, h3, h4, h5, h6 {
  font: 200 1.5em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0f83a0;
  font-weight: bold; }

strong {
  font-weight: 600; }

p {
  font-weight: 200;
  padding-bottom: 10px; }

body {
  position: absolute;
  width: 100%;
  height: 100%; }

.scene {
  position: relative;
  padding: 20px 0; }
  .scene article {
    max-width: 95%;
    margin: 0 auto; }
  @media (min-width: 1200px) {
    .scene {
      padding: 40px 0; } }
  @media (min-width: 960px) {
    .scene article {
      max-width: 60em;
      margin: 0 auto; } }

header .fullheight {
  background: url("../images/hotel/splash_hotelphoto.jpg") no-repeat center center fixed;
  background-size: cover; }
header .hgroup {
  padding: 100px 0; }
  header .hgroup h1 {
    color: #FFFFFF;
    font-size: 5em;
    font-weight: 800;
    line-height: .8em;
    text-shadow: #000000 0 0 20px;
    text-align: center; }
  header .hgroup h2 {
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
    width: 60%;
    text-align: center;
    max-width: 200px;
    margin: 15px auto 0 auto;
    border: 1px solid #FFFFFF;
    padding: 10px;
    font-size: 1.3em; }
  header .hgroup p {
    text-align: center; }
    header .hgroup p img {
      padding-top: 50px;
      max-width: 50px; }

header #nav {
  background-image: linear-gradient(to top, #0a5c71, #063642); }
  header #nav:before, header #nav:after {
    content: '';
    display: table; }
  header #nav:after {
    clear: both; }
  header #nav .navbar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 60em;
    margin: 0 auto; }
    header #nav .navbar .brand {
      grid-column: 1/5;
      font-weight: 600;
      font-family: 200 1.5em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: center;
      text-transform: uppercase;
      background: #DF4848; }
      header #nav .navbar .brand a {
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding: 10px;
        font-size: 1.5em; }
        @media (max-width: 650px) {
          header #nav .navbar .brand a {
            font-size: 1.2em; }
            header #nav .navbar .brand a span {
              display: none; } }
    header #nav .navbar ul {
      grid-column: 5/13;
      display: flex;
      justify-content: space-between; }
      header #nav .navbar ul li {
        flex: 1;
        display: flex; }
        header #nav .navbar ul li a {
          flex: 1;
          color: #FFFFFF;
          font: 200 1em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
          padding: 10px 10px 10px 45px;
          font-size: 1em;
          text-decoration: none;
          background-size: 35px;
          background-repeat: no-repeat;
          background-position: 2px;
          transition: all 300ms ease-out; }
          header #nav .navbar ul li a.info {
            background-image: url("../images/icons/info.png"); }
          header #nav .navbar ul li a.rooms {
            background-image: url("../images/icons/rooms.png"); }
          header #nav .navbar ul li a.dining {
            background-image: url("../images/icons/dining.png"); }
          header #nav .navbar ul li a.events {
            background-image: url("../images/icons/events.png"); }
          header #nav .navbar ul li a.attractions {
            background-image: url("../images/icons/attractions.png"); }
          header #nav .navbar ul li a:hover, header #nav .navbar ul li a:focus {
            background-color: #EFC94C;
            color: #063642; }
          @media (min-width: 0) and (max-width: 650px) {
            header #nav .navbar ul li a {
              padding: 10px 18px;
              background-position: center; }
              header #nav .navbar ul li a span {
                display: none; } }
          @media (min-width: 650px) and (max-width: 960px) {
            header #nav .navbar ul li a {
              padding-left: 10px;
              text-align: center; }
              header #nav .navbar ul li a.icon {
                background-image: none; } }

#welcome {
  background-image: linear-gradient(#EFC94C, #E27A3F); }
  #welcome article {
    text-align: center;
    max-width: 70%;
    margin: 0 auto; }
    @media (min-width: 650px) {
      #welcome article {
        max-width: 33em;
        padding: 60px 0; } }
  #welcome h1 {
    font-weight: normal;
    line-height: 100%;
    color: #8c4015;
    padding: 10px 0; }
  @media (min-width: 650px) {
    #welcome .gallery {
      display: grid;
      grid-column-gap: 1em;
      grid-template-columns: repeat(4, 1fr); } }
  @media (min-width: 960px) {
    #welcome .gallery {
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: .5em; } }
  #welcome .gallery img {
    border-radius: 20%;
    display: none;
    max-width: 100%; }
    @media (min-width: 650px) {
      #welcome .gallery img {
        display: inline;
        grid-column: span 1;
        display: inline; }
        #welcome .gallery img.hidesm {
          display: none; } }
    @media (min-width: 960px) {
      #welcome .gallery img.hidesm {
        display: inline; } }

#hotelinfo {
  background-image: linear-gradient(#3a3f90, #45B29D);
  color: #FFFFFF; }
  #hotelinfo h1, #hotelinfo h2, #hotelinfo h3, #hotelinfo h4, #hotelinfo h5, #hotelinfo h6 {
    color: #FFFFFF; }
  #hotelinfo .heading h1 {
    font-size: 3em;
    font-weight: 200; }
  @media (min-width: 650px) {
    #hotelinfo #usefulinfo {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 1.5em; } }
  @media (min-width: 450px) and (max-width: 650px) {
    #hotelinfo #usefulinfo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em; } }
  @media (min-width: 650px) {
    #hotelinfo #usefulinfo section {
      grid-column: span 1; } }
  @media (min-width: 450px) and (max-width: 650px) {
    #hotelinfo #usefulinfo section#arrivalinfo {
      grid-column: 1 / -1;
      grid-row: 1/2; }
    #hotelinfo #usefulinfo section.checklist {
      grid-column: span 1;
      grid-row: 2/3; } }
  #hotelinfo #usefulinfo section h2 {
    color: #b5b7e1;
    font-size: 1.3em;
    line-height: 110%;
    padding: 10px 0; }
  #hotelinfo #usefulinfo section p {
    font-size: 1em;
    line-height: 130%; }
  #hotelinfo #usefulinfo section ul {
    list-style-type: square; }
    #hotelinfo #usefulinfo section ul li {
      margin-left: 10%;
      line-height: 115%;
      margin-bottom: 5px; }
      #hotelinfo #usefulinfo section ul li:last-of-type {
        margin-bottom: 0; }
  #hotelinfo #usefulinfo section#arrivalinfo ul {
    margin: 0; }
    #hotelinfo #usefulinfo section#arrivalinfo ul li {
      list-style-type: none;
      border-top: 1px solid #FFFFFF;
      padding: 15px 0;
      margin-left: 0; }
      #hotelinfo #usefulinfo section#arrivalinfo ul li strong {
        color: #EFC94C; }
      #hotelinfo #usefulinfo section#arrivalinfo ul li:first-child {
        border-top: none; }
  #hotelinfo #greenprogram {
    background-color: rgba(26, 68, 60, 0.8);
    margin-top: 20px;
    border: 1px solid #FFFFFF;
    padding: 20px;
    border-radius: 20px; }
    @media (min-width: 1200px) {
      #hotelinfo #greenprogram {
        background-image: url("../images/misc/greenplanet.png");
        background-repeat: no-repeat;
        background-size: 400px;
        background-position: 120% center;
        padding-right: 300px; } }

#rooms {
  /* #piccadilly { @include backImage('../images/hotel/rooms_piccadilly.jpg');}
   #cambridge { @include backImage('../images/hotel/rooms_cambridge.jpg');}
   #westminster {@include backImage('../images/hotel/rooms_westminster.jpg');}
   #oxford {@include backImage('../images/hotel/rooms_oxford.jpg');}
   #victoria {@include backImage('../images/hotel/rooms_victoria.jpg');}
   #manchester {@include backImage('../images/hotel/rooms_manchester.jpg');} */ }

/*# sourceMappingURL=style.css.map */
